<% include partials/header %>
<div class="row">
  <div class="col-sm-12 text-center" id="intro">
    <h2><%= chatTitle %></h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <form action="/userResponse/send" method="post">
      <input class="form-control" type="text" name="userMessage" placeholder="Type your message...">
      <button class="btn btn-primary" type="submit" name="btnSubmit" style="margin: 10px 0;">Submit Message</button>
    </form>
  </div>
  <div class="col-sm-6" id="userReplies">
    <% if(userResponse !== '') {
      userResponse.forEach(function(response) { %>
        <div class="col-sm-12 alert alert-dark text-left">User: <%= response %></div>
        <% });
      } %>
  </div>
  <div class="col-sm-6" id="botReplies">
    <% if(botResponse !== '') {
        botResponse.forEach(function(response){ %>
          <div class="col-sm-12 alert alert-success text-left">Bot: <%- response %></div>
          <% });
        } %>
  </div>
</div>
<% include partials/footer %>
